In [5]:
#string formatting
a = int(input("Enter first number"))
b = int(input("Enter second number"))

#addnum = a+b
print (f"The addition of {a} and {b} is: ", a+b)

Enter first number3
Enter second number6
The addition of 3 and 6 is:  9

In [6]:
print (f"The difference of {a} and {b} is: ", a-b)

The difference of 3 and 6 is:  -3

In [8]:
#if condition
#min age for voting

age = int(input("Enter the age: "))

if age>=18:
    print("Eligible to vote")
else:
    print("Not eligible to vote! ")
    print(f"Eligible to vote after {18-age} years")

Enter the age: 16
Not eligible to vote!
Eligible to vote after 2 years

In [9]:
#raw string
print("C:/programfiles/backup/newfolder/abcd/xyz")

C:/programfiles/backup/newfolder/abcd/xyz

In [10]:
print("C:\Users\Annika.Chandra\OneDrive - Shell\Desktop\Shell bootcamp\Customer.xlsx")
#\n \t \b \a \e they are keyboard tabs

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1158696946.py, line 1)

In [11]:
#printing the string as it is

print(r"C:\Users\Annika.Chandra\OneDrive - Shell\Desktop\Shell bootcamp\Customer.xlsx")

C:\Users\Annika.Chandra\OneDrive - Shell\Desktop\Shell bootcamp\Customer.xlsx

In [12]:
#sequeneces / data structures in Python
#sets

s1 = set() #empty set
s1

set()

In [20]:
s = {23,54,65,23,87,54,77}
s

{23, 54, 65, 77, 87}

In [16]:
s[4]

TypeError: 'set' object is not subscriptable

In [21]:
s.add(15)
s #only possible to print directly in jupyter notebook

{15, 23, 54, 65, 77, 87}

In [22]:
print(s) #everywhere we need to write print statement

{65, 54, 23, 87, 77, 15}

In [25]:
s.discard(23)
s

{15, 54, 65, 77, 87}

In [26]:
s.remove(54)
s

{15, 65, 77, 87}

In [27]:
s.pop() #pop only deletes the first element
s

{15, 77, 87}

In [28]:
s1 = {32,5,33,10}

s | s1 #union

{5, 10, 15, 32, 33, 77, 87}

In [29]:
s & s1 #intersection

set()

In [30]:
s - s1 #difference   s - (set1&set2)

{15, 77, 87}

In [31]:
s ^ s1 #symmetric difference (union of uncommon elements)

{5, 10, 15, 32, 33, 77, 87}

In [36]:
#dictionary

d1 = {5: "C", 3:"JAVA" , 10:"CPP", 7:"Python", 9:"Scala"}
type(d1)

dict

In [37]:
d1

{5: 'C', 3: 'JAVA', 10: 'CPP', 7: 'Python', 9: 'Scala'}

In [38]:
d1[3]

'JAVA'

In [41]:
d1[10]

'CPP'

In [42]:
d1[1] = "Javacript"
d1

{5: 'C', 3: 'JAVA', 10: 'CPP', 7: 'Python', 9: 'Scala', 1: 'Javacript'}

In [43]:
d1.get(7)

'Python'

In [45]:
d1.get(6,"key not found") #get() is better than using [] while accessing any element

'key not found'

In [49]:
del d1[7]

In [50]:
d1

{5: 'C', 3: 'JAVA', 9: 'Scala', 1: 'Javacript'}

In [51]:
ida = {1:"30 participants", 2:"44 participants",3:"25 participants",4:"28 participants",5:"17 participants"}
ida

{1: '30 participants',
 2: '44 participants',
 3: '25 participants',
 4: '28 participants',
 5: '17 participants'}

In [56]:
editors={'localhost': 'Jupyter Notebook', 
         'offline' : ['Notepad++', 'Pycharm', 'VSCode' , 'Spyder' , 'Atom'],
          'online' : {'google' : 'colaboratory', 'aws':'Sagemaker', 'azure':'azure ml studio'}}
editors

{'localhost': 'Jupyter Notebook',
 'offline': ['Notepad++', 'Pycharm', 'VSCode', 'Spyder', 'Atom'],
 'online': {'google': 'colaboratory',
  'aws': 'Sagemaker',
  'azure': 'azure ml studio'}}

In [57]:
editors['online']

{'google': 'colaboratory', 'aws': 'Sagemaker', 'azure': 'azure ml studio'}

In [58]:
editors['online']['aws']

'Sagemaker'

In [59]:
editors.get('online')

{'google': 'colaboratory', 'aws': 'Sagemaker', 'azure': 'azure ml studio'}

In [62]:
list1 = ['p1','p2','p3','p4']
list2 = ['pizza','burger','pasta','donut']

#creating dictionary using zip() on lists , can also work with tuple
d2 = dict(zip(list1,list2))
d2

{'p1': 'pizza', 'p2': 'burger', 'p3': 'pasta', 'p4': 'donut'}